<%= link_to tr('home'), {controller: :welcome, action: :index} %>
<h1><%= tr("impressum") %></h1>

<p>
   Costa Rica Kids School Sponsorship Program<br>
   Foursquare Gospel Church of Canada<br>
   B307-2099 Lougheed Highway<br>
   Port Coquitlam, BC V3B 1A8<br>
   Canada
<p>
<p>
<a target="_blank" href="http://www.foursquare.ca/foursquare-kids.html">www.foursquare.ca/foursquare-kids.html</a><br>
<a target="_blank" href="https://github.com/kpatrick/crk2">github.com/kpatrick/crk2</a></p>
</p>
<p>27 December 2016</p>
