<%= link_to 'Show', @sponsorship %> | <%= link_to 'Home', {controller: :welcome, action: :index} %>

<h1>Sponsorship</h1>

<%= render 'form' %>
<% if @user && @user.can_delete_record? %>
<div class="delete-record"><%= link_to t('destroy'), @sponsorship, method: :delete, data: { confirm: t('confirm_destroy') } %></div>
<% end %>
