<h1>Family Years</h1>

<table>
  <thead>
    <tr>
      <th>Family</th>
      <th>School Year</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @family_years.each do |family_year| %>
      <tr>
        <td><%= family_year.family.try(:community).try(:code) %> - <%= family_year.family.try(:name) %></td>
        <td><%= family_year.school_year %></td>
        <td><%= link_to 'Show', family_year %></td>
      </tr>
    <% end %>
  </tbody>
</table>
