<%= link_to 'Show', @community %> | <%= link_to 'Home', {controller: :welcome, action: :index} %>
<h1>Community</h1>

<%= render 'form' %>
<% if @user && @user.can_delete_record? %>
<div class="delete-record"><%= link_to t('destroy'), @community, method: :delete, data: { confirm: t('confirm_destroy') } %></div>
<% end %>
