<h1>Community</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @community.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @community.name %>
</p>

<p>
  <strong>Next Code:</strong>
  <%= @max_code + 1 %>
</p>
<br>
